/* page attrs */
.home {
  align-items: center;
  background-image: url('../../assets/root-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

/* NAVBAR */
/* navbar attrs */
.navbar-home {
  background-color: #C8E6C9;
  border: 2px solid #006064;
  border-radius: 3%;
  display: block;
  height: 85%;
  margin-left: 1%;
  width: 25%;
}

/* navbar photo attrs */
.navbar-photo-profile {
  border-radius: 50%;
  border: 16px solid #006064;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 160px;
  height: 160px;
}

/* navbar form attrs */
.navbar-form {
  background-color: #006064;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  margin: 2%;
  padding: 2%;
}

.navbar-form>.input-small {
  margin-left: 5%;
  width: 20%;
}

.navbar-form>input {
  margin-bottom: 5%;
  padding-left: 3%;
}

/* BODY */
.body-home {
  background-color: #C8E6C9;
  border: 2px solid #006064;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  height: 85%;
  margin-left: 1%;
  padding: 1%;
  width: 60%;
}

.home-body-content {
  display: flex;
  flex-direction: row;
  max-height: 240px;
}

.home-descriptions {
  background-color: #C8E6C9;
  border: 2px solid #006064;
  border-bottom-right-radius: 3%;
  border-top-right-radius: 3%;
  padding: 2%;
  width: 50%;
}

.home-descriptions>p {
  font-weight: bold;
  margin-top: 2%;
}

.home-card {
  background-color: #C8E6C9;
  border: 2px solid #006064;
  border-bottom-left-radius: 3%;
  border-top-left-radius: 3%;
  width: 50%;
}

.navbar-home-left {
  align-items: center;
  background-color: #C8E6C9;
  border: 2px solid #006064;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-between;
  margin-left: 1%;
  padding: 1%;
  width: 5%;
}



/* atributos de espaçamento dos labels do form */
.label-rating {
  margin-left: 7%;
}

/* atributos de espaçamento dos inputs do form */




.my-stats>p {
  font-family: cursive;
  font-size: 24px;
  text-align: center
}

/* atributos gerais de botao */
.btn {
  border: none;
  border-bottom-left-radius: 8%;
  border-top-left-radius: 8%;
  border-bottom-right-radius: 8%;
  border-top-right-radius: 8%;
  height: 30px;
  margin-left: 10%;
  margin-top: 3%;
  width: 150px;
}

/* botao criar evento */
.btn-add-event {
  background-color: #006064;
}

/* botao procurar evento */
.btn-search-event {
  background-color: #006064;
}

/* botao mapa */
.btn-map {
  background-color: rgb(253, 113, 57);
  margin-left: 30%;
}

.btn:hover {
  background-color: rgb(99, 255, 68);
  color: white;
}

/* atributos dos charts */
.recharts-surface {
  /* max-width: 75%; */
  width: 100%;
}

.recharts-wrapper {
  height: 200px;
  width: 100% !important;
}