.signUp {
  align-items: center;
  background-image: url('../../assets/background.pkm-11.jpg');
  background-repeat: no-repeat;
  /* background-size: cover; */
  display: flex;
  height: 100vh;
  justify-content: center;
}

.signUp>form {
  background-color: #C8E6C9;
  border: 2px solid #006064;
  border-radius: 5%;
}

.signUp>form>img {
  margin: 10px 0 40px;
  width: 100%;
}

.signUp>form>input {
  border: 1px solid #006064;
}