.events {}

.events-content {}

.events-create {}

.events-descriptions {}

.container-photo-profile {
  margin-left: 50%;
}

/* .photo-profile>img {
  border-radius: 50%;
  border: 5px solid blue;
  height: 240px;
  width: 240px;
} */