.events {
  position: absolute;
  width: 100%;
  height: 100%;
}

.events-content {
  background-image: url("../../assets/zelda-background-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #006064;
  border-radius: 1%;
  width: 100%;
  height: 100%;
}

.events-create {
  display: flex;
  flex-direction: row;
  position: relative;
}

.events-descriptions {
  background-color: #C8E6C9;
  border: 2px solid #006064;
  border-radius: 2%;
  position: relative;
  /* height: 100%; */
  margin: 0 1% 1% 1%;
  padding: 1%;
  width: 45%;
}

/* event form attrs */
.events-descriptions>p {
  font-weight: bold;
  margin-top: 2%;
}

.events-form-separator>.left {
  padding: 1%;
}

.events-form-separator>p {
  margin-bottom: 3%;
}

.events-form-separator>.left>p {
  margin-bottom: 3%;
}

.events-form-separator>.left>textarea {
  width: 100% !important;
}

.events-navbar-right {
  background-color: #C8E6C9;
  border: 2px solid #006064;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 1% 1% 1%;
  padding-left: .5%;
  /* padding-right: 1%; */
  position: relative;
  width: 5%;
}

.btn {
  background-color: #BAC5FF;
  border-color: #696780;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}